@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #1f2937;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
