@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

body {
  color: #1f2937;
  background: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  font-family: inherit;
}
